# vsce 打包排除清单（HeT DevTools）
.vscode/**
.vscode-test/**
src/**
scripts/**
out/**
!out/extension.js
**/*.map
**/*.ts
tsconfig.json
eslint.config.mjs
esbuild.mjs
.gitignore
.git/**
workspace/**
**/tsconfig*.json
**/node_modules/**
*.vsix
